# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/**/build/
captures/

# IDE
.idea/
.vscode/
*.iml

# Gradle
gradle-wrapper.jar
/.gradle
/gradlew
/gradlew.bat

# Plugins
GeneratedPluginRegistrant.java
.cxx/

# Keystore
key.properties
**/*.keystore
**/*.jks
